*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: url(../assets/img/transp_bg.png);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.header {
  height: 50px;
  padding: 10px 40px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
}

h1 {
  margin: 0;
  font-size: 22px;
}

.wrapper {
  height: calc(100vh - 50px);
  min-height: 600px;
  padding: 40px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}

.sidebar {
  width: 228px;
  margin-right: 50px;
}

.tools-panel {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 20px;
  background: #fff;
  color: rgba(0, 0, 0, 0.5413);
}

.tools-panel__item {
  display: block;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.tools-panel__item:not(:first-child) {
  margin-top: 10px;
}

.tools-panel__item.-selected, .tools-panel__item:hover {
  background: #eff0f3;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.tools-panel__item img, .tools-panel__item span {
  display: inline-block;
  vertical-align: middle;
}

.tools-panel__item img {
  margin-right: 20px;
}

.color-panel {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background: #fff;
  color: rgba(0, 0, 0, 0.5413);
}

.color-panel__item {
  display: block;
  border-radius: 5px;
  padding: 5px 10px;
}

.color-panel__item:not(:first-child) {
  margin-top: 10px;
}

.color-panel__item img, .color-panel__item span {
  display: inline-block;
  vertical-align: middle;
}

.color-panel__item img {
  margin-right: 20px;
}

.color-panel__color {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid transparent;
  margin-right: 20px;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

[data-tool=colorPicker] .color-panel__color {
  cursor: url("../assets/img/color-icon.svg") 0 10, auto;
}

[data-tool=colorPicker] .color-panel__color:hover {
  -webkit-box-shadow: 0 0 0 3px rgba(110, 110, 112, 0.5);
          box-shadow: 0 0 0 3px rgba(110, 110, 112, 0.5);
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.button {
  height: 40px;
  width: 228px;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  border: 0;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.5413);
  line-height: 1;
  text-align: center;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.button:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.canvas {
  width: calc(100% - 278px);
}

.canvas__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 500px;
  margin: -10px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.canvas__cell {
  width: calc(33.333% - 20px);
  height: calc(33.333% - 20px);
  border-radius: 5px;
  margin: 10px;
}

.canvas__figure {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #eff0f3;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.canvas__figure.-rounded {
  border-radius: 100%;
  -webkit-transition: border-radius 0.25s;
  transition: border-radius 0.25s;
}

.canvas__figure.over {
  border: 2px dashed #000;
}

[data-tool=transform] .canvas__figure {
  cursor: url("../assets/img/transform-icon.svg"), auto;
}

[data-tool=paintBucket] .canvas__figure {
  cursor: url("../assets/img/bucket-icon.svg"), auto;
}

[data-tool=colorPicker] .canvas__figure {
  cursor: url("../assets/img/color-icon.svg") 0 10, auto;
}

[data-tool=move] .canvas__figure {
  cursor: url("../assets/img/move-icon.svg"), auto;
}
/*# sourceMappingURL=style.css.map */